.wallet-content {
    min-height: 150vh;
    background-color: #587AA6;
    text-align: center;
}
.wallet-inside-content {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;
    min-height: 150vh;
}
.wallet-title {
    border-bottom: 1px solid #9ec1ff;
}
.wallet-option {
    background-color: #d1e2ff;
    text-align: right;
    border-bottom: 1px solid #9ec1ff;
}
.wallet-summary{
    margin: 20px;
    text-align: right;
    

}
.wallet-summary > .acquisition-cost.mdl-card {
    width: 200px;
    min-height:100px!important;
    display: inline-block;
    margin-right: 10px;
}
.wallet-summary > .acquisition-cost > .mdl-card__title {
      
    background-color: #5693ff;
}
.wallet-summary > .profit-loss.mdl-card {
    width: 300px;
    min-height: 100px !important;
    display: inline-block;
    margin-right: 10px;
}
.wallet-summary > .profit-loss > .mdl-card__title {

    background-color: #5693ff;
}

.wallet-summary > .holdings.mdl-card {
    width: 150px;
    min-height: 100px !important;
    display: inline-block;
    margin-right: 10px;
}
.wallet-summary > .holdings > .mdl-card__title {
    background-color: #5693ff;
}
.wallet-summary > .day-profit-loss.mdl-card {
    width: 300px;
    min-height: 100px !important;
    display: inline-block;
}
.wallet-summary > .day-profit-loss > .mdl-card__title {
    background-color: #5693ff;
}
.outer-overview{
    text-align:center;
    margin-top: 5vh;
}
.overview {
    margin: auto;
    max-width: 75vw;
}


.overview-tabs-bar {
    border: 1px solid #e2e2e2;
    position: relative;
    z-index: 10;
    justify-content: left !important;
    margin: auto;
    width: 75vw;
    background-color: #B3D5F2;
}


.stats-header {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.label-portfolio-stat {
    margin: 5px;
    font-size: 14px;
    display: block;
    line-height: 20px;
    color: #396aab;
}
.period-change.value-portfolio-stat {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-right: 80px;
}
.block-stat {
    display:inline-block;
    position:relative;
    margin:0;
    float:left;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.value-portfolio-stat{
    font-size: 13px;
}
.wallet-change {
    margin: auto !important;
    border-right: 1px solid #eee;
    padding: 15px;
    margin: 0px;
}
svg.highcharts-root {
    width: inherit !important;
    height: inherit !important;
}
#chart-portfolio > .highcharts-container{
    height:inherit !important;
}

.mdl-data-table.mdl-js-data-table > thead {
    background-color: #B3D5F2;
    color: #0061ff;
}

.mdl-data-table.mdl-js-data-table > thead > tr > th {
    color: #0061ff;
    border-right: 1px solid #639eff;
    border-bottom: 3px solid #307eff;
    
}

.mdl-data-table.mdl-js-data-table > tbody > tr > td:first-child{
    border-right: 1px solid rgba(0,0,0,.12);
    
}

.outer-detail-view {
    margin-top: 5vh;
}

#coin-holds-table {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90% !important;
}
#current {
    margin: auto;
    width: 75vw;
}
#sold{
    margin: auto;
    width: 75vw;
}
.detail-tabs-bar {
    position: relative;
    z-index: 10;
    justify-content: left !important;
    margin: auto;
    width: 75vw;
    border:none;
}

.detail-tabs-bar > a:after {
    background-color: #f79a35 !important;
    height: 3px !important;
}
.datatable.table > thead{

    background-color: #B3D5F2;
}
.datatable.table{
    border: 1px solid #e2e2e2;
}