
.confirmation-section {
    height: 70vh;
}

.confirmation-title{
    display: inline-block;
    margin-top:20vh;
}
.confirmation-subtitle {
    display: inline-block;
    padding-top: 5vh;
}
.confirmation-link {
    display: inline-block;
    padding-top: 5vh;
}
.website-description{
    height: 70vh;
}
.coins-table{
    min-height: 50vh;
    
}

.news-table {
    min-height: 50vh;
}
.back-to-top:hover {
    color: #030B26 !important;
}

.blockchain-logo {
    position:relative;
    margin-left: 20vw;
    width: 250px;
    height: 250px;

}
#coin {
    position: relative;
    margin: auto auto;
    width: 250px;
    height: 250px;
    cursor: pointer;
}
#coin div{
    width: 100%;
    height: 100%;
}
.side-a {
    background: url("../Images/bitcoin-front.png") 100% no-repeat;
}

.side-b {
    background: url("../Images/bitcoin-back.png") 100% no-repeat;
}

#coin {
    transition: -webkit-transform 1s ease-in;
    -webkit-transform-style: preserve-3d;
}

    #coin div {
        position: absolute;
        -webkit-backface-visibility: hidden;
    }

.side-a {
    z-index: 100;
}

.side-b {
    -webkit-transform: rotateY(-180deg);
}

#coin.heads {
    -webkit-animation: flipHeads 3s ease-out forwards;
    -moz-animation: flipHeads 3s ease-out forwards;
    -o-animation: flipHeads 3s ease-out forwards;
    animation: flipHeads 3s ease-out forwards;
}

#coin.tails {
    -webkit-animation: flipTails 3s ease-out forwards;
    -moz-animation: flipTails 3s ease-out forwards;
    -o-animation: flipTails 3s ease-out forwards;
    animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
    from {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        transform: rotateY(0);
    }

    to {
        -webkit-transform: rotateY(1800deg);
        -moz-transform: rotateY(1800deg);
        transform: rotateY(1800deg);
    }
}

@-webkit-keyframes flipTails {
    from {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        transform: rotateY(0);
    }

    to {
        -webkit-transform: rotateY(1980deg);
        -moz-transform: rotateY(1980deg);
        transform: rotateY(1980deg);
    }
}


.particle-wrapper {
    background-color: #222;
    width: 100vw;
    height: 50%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.getting-started {
    
    height: 70vh;
    background: url(../Images/getting-started-background.jpg) center center no-repeat #102026;
    background-size:cover;
    position:relative;
    display:block;
}
.getting-started-title{
   
   text-align:center;
}
.gettingStarted-effect {
    margin-top: 3vh;
    color:darkblue;
    margin-bottom: 6vh;
}
.css-typing{
    margin-bottom: 10vh;
}
.portfolio-login-section {
    height: 50vh;
    background: url("../Images/background.jpeg") center center no-repeat;
    background-size: cover;
    display:block !important;
    position:relative;
    z-index: 60;
}
.member-login{
    margin: 15vh auto;
}

.crypto-history-section {
    background-color: #3E606F;
    min-height: 50vh;
    z-index:-1;
}
#team-section {
    height: 70vh;
    position:relative;
    z-index:200;
}
#scene {
    margin: 0 0;
    padding: 0 0;
    background-color: #8ae8ff;
}

.parallax-1 {
    background: url("../Images/Parallax/parallax-1.png") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: relative;
    z-index: 7;
}

.parallax-2 {
    background: url("../Images/Parallax/parallax-2.png") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: relative;
    z-index: 6;
}

.parallax-3 {
    background: url("../Images/Parallax/parallax-3.png") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: relative;
    z-index: 5;
}

.parallax-4 {
    background: url("../Images/Parallax/parallax-4.png") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: relative;
    z-index: 4;
}

.parallax-5 {
    background: url("../Images/Parallax/parallax-5.png") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: relative;
    z-index: 3;
}

.parallax-6 {
    background: url("../Images/Parallax/parallax-6.png") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
}

.parallax-7 {
    background: url("../Images/Parallax/parallax-7.png") no-repeat center center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
}

.team-section-content{
    position:absolute;
    text-align:right;
    height:70vh;
    width:100vw;
    z-index:100;
}
#teamImg {
    cursor: pointer;
}
.duc-face{
    position:relative;
    width: 30vw;
}
.allan-face{
    position:relative;
    width: 24vw;
}
#huy-face{
    position:absolute;
    display:inline;
    margin-left: 5vw;
}

.history-section{
    height: 70vh;
}
#scene2 {
    margin: 0 0;
    padding: 0 0;
}
.back {
    height: 70vh;
    
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
}
    .back div {
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
.history-section-background {
    background: url(../Images/Parallax/background-history.jpg) no-repeat 50% 100%;
    bottom: 96px;
    background-size: cover;
    height: 70vh;
    width: 110vw;
}
.black{
    position: relative;
    top:90%;
    background-position: center bottom;
    background-color:black;
    background-repeat:repeat-x;
    width: 300vw;
    left:-100vw;
    height: 30vh;
    z-index: 99;

}
.wave{
    background: transparent repeat-x;
    position:absolute;
    width: 300vw;
    left: -100vw;

}
    .wave::after {
        background-color: black;
        position: absolute;
        display: block;
        height: 500px;
        width: 100%;
        top: 100%;
        left: 0;
    }
.wave.plain{
    background-image: url(../Images/Parallax/wave-plain.png);
}
.wave.paint{
    background-image:url(../Images/Parallax/wave-paint.png);
}
.wave.depth-30{
    -webkit-animation: wave 7.11111s 0.1s infinite linear;
    -moz-animation: wave 7.11111s 0.1s infinite linear;
    animation: wave 7.11111s 0.1s infinite linear;
    bottom: 100px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 48px; 
}
    .wave.depth-30::after{
        height: 112px;
    }
.wave.depth-40 {
    -webkit-animation: wave 6.66667s 0.1s infinite linear;
    -moz-animation: wave 6.66667s 0.1s infinite linear;
    animation: wave 6.66667s 0.1s infinite linear;
    bottom: 80px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 64px;
}

    .wave.depth-40:after {
        height: 96px;
    }
.wave.depth-50 {
    -webkit-animation: wave 6.22222s 0.1s infinite linear;
    -moz-animation: wave 6.22222s 0.1s infinite linear;
    animation: wave 6.22222s 0.1s infinite linear;
    bottom: 60px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 80px;
}

    .wave.depth-50:after {
        height: 80px;
    }
.wave.depth-60 {
    -webkit-animation: wave 5.77778s 0.1s infinite linear;
    -moz-animation: wave 5.77778s 0.1s infinite linear;
    animation: wave 5.77778s 0.1s infinite linear;
    bottom: 40px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 96px;
}

    .wave.depth-60:after {
        height: 64px;
    }

.wave.depth-80 {
    -webkit-animation: wave 4.88889s 0.1s infinite linear;
    -moz-animation: wave 4.88889s 0.1s infinite linear;
    animation: wave 4.88889s 0.1s infinite linear;
    bottom: 0px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 128px;
}

    .wave.depth-80:after {
        height: 32px;
    }


.wave.depth-100 {
    -webkit-animation: wave 4s 0.1s infinite linear;
    -moz-animation: wave 4s 0.1s infinite linear;
    animation: wave 4s 0.1s infinite linear;
    bottom: -40px;
    margin: 0px 0px;
    background-position: center bottom;
    background-size: auto 101%;
    height: 160px;
}

    .wave.depth-100:after {
        height: 0px;
    }
#history-section-content{
    position:absolute;
    z-index:50;
    background: url(../Images/Parallax/panel.png) 50% 50% no-repeat;
    vertical-align: middle;
    
}

.history-section-title{
    padding-top:15vh;
}
.history-section-info{
    position:relative;
    line-height:4vh;
    margin-left:38vw;
    margin-right:38vw;
}
.explore-button {
    padding-top:3vh;
    margin-left: 48vw;
    margin-right: 48vw;
}
@keyframes wave{
    0% {
        -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
        transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
        transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
    }
}
.history-title {
    color: #B2CED9;
    margin: 0 2vw 3vh 2vw;
}
.portfolio-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.is-compact .mdl-layout__title span {
    display: none;
}


.is-compact .portfolio-logo-row {
    min-height: inherit;
}

.portfolio-logo {
    height: 200px;
    width: 200px;
    position: absolute;
    padding-left: 43vw;
    padding-top: 5vh;
    z-index: 50;
    -webkit-animation-delay: 0.5s;
}
@media (min-width: 1900px){
    .getting-started-title{
        margin-top: 15vh;
    }
    .gettingStarted-effect{
        font-size: 4em;
    } 
    .blockchain-logo {
        margin-top: 15vh;
    }
    #coin{
        margin-top:10vh;
    }
    .history-effect{
        margin-top:10vh;
    }
    
}

@media (max-width: 1800px){
    #team-section {
        height: 110vh;
    }
    #scene {
        margin: 0 0;
        padding: 0 0;
        background-color: #8ae8ff;
    }

    .parallax-1 {
        background: url("../Images/Parallax/parallax-1.png") no-repeat center center;
        background-size: cover;
        height: 110vh;
        width: 100vw;
        position: relative;
        z-index: 7;
    }

    .parallax-2 {
        background: url("../Images/Parallax/parallax-2.png") no-repeat center center;
        background-size: cover;
        height: 110vh;
        width: 100vw;
        position: relative;
        z-index: 6;
    }

    .parallax-3 {
        background: url("../Images/Parallax/parallax-3.png") no-repeat center center;
        background-size: cover;
        height: 110vh;
        width: 100vw;
        position: relative;
        z-index: 5;
    }

    .parallax-4 {
        background: url("../Images/Parallax/parallax-4.png") no-repeat center center;
        background-size: cover;
        height: 110vh;
        width: 100vw;
        position: relative;
        z-index: 4;
    }

    .parallax-5 {
        background: url("../Images/Parallax/parallax-5.png") no-repeat center center;
        background-size: cover;
        height: 110vh;
        width: 100vw;
        position: relative;
        z-index: 3;
    }
    .parallax-6 {
        background: url("../Images/Parallax/parallax-6.png") repeat-x center center;
        background-size: cover;
        height: 90vh;
        width: 110vw;
        position: absolute;
        z-index: 2;
    }

    .parallax-7 {
        background: url("../Images/Parallax/parallax-7.png") repeat-x center center;
        background-size: cover;
        height: 90vh;
        width: 110vw;
        position: absolute;
        z-index: 1;
    }
    #huy-face {
        position: absolute;
        display: inline;
        margin-left: 4vw;
    }
    .history-section-title {
        padding-top: 10vh;
    }
    .history-section-info {
        position: relative;
        line-height: 4vh;
        margin-left: 34vw;
        margin-right: 34vw;
    }

    .explore-button {
        margin-left: 46vw;
        margin-right: 46vw;
    }
    #history-section-content {
        position: absolute;
        z-index: 50;
        background: url(../Images/Parallax/panel.png) 50% 50% no-repeat;
        background-position: center center;
        background-size: 40% 80%;
        vertical-align: middle;
    }
    
}
@media (max-width: 479px) {
    .portfolio-logo {
        height: 250px;
        width: 250px;
        position: absolute;
        padding-left: 25vw;
        padding-top: 7vh;
        z-index: 50;
        -webkit-animation-delay: 0.5s;
    }
    .portfolio-login-section {
        height: 70vh;
        background: url("../Images/background.jpeg") center center no-repeat;
        background-size: cover;
        display: block !important;
    }

    .member-login {
        margin: 15vh auto;
    }
    #team-section {
        height: 150vh;
        
    }

    #scene {
        margin: 0 0;
        padding: 0 0;
        background-color: #8ae8ff;
    }

    .parallax-1 {
        background: url("../Images/Parallax/parallax-1.png") no-repeat center center;
        background-size: cover;
        height: 150vh;
        width: 100vw;
        position: relative;
        z-index: 7;
    }

    .parallax-2 {
        background: url("../Images/Parallax/parallax-2.png") no-repeat center center;
        background-size: cover;
        height: 150vh;
        width: 100vw;
        position: relative;
        z-index: 6;
    }

    .parallax-3 {
        background: url("../Images/Parallax/parallax-3.png") no-repeat center center;
        background-size: cover;
        height: 150vh;
        width: 100vw;
        position: relative;
        z-index: 5;
    }

    .parallax-4 {
        background: url("../Images/Parallax/parallax-4.png") no-repeat center center;
        background-size: cover;
        height: 150vh;
        width: 100vw;
        position: relative;
        z-index: 4;
    }

    .parallax-5 {
        background: url("../Images/Parallax/parallax-5.png") no-repeat center center;
        background-size: cover;
        height: 150vh;
        width: 100vw;
        position: relative;
        z-index: 3;
    }

    .parallax-6 {
        background: url("../Images/Parallax/parallax-6.png") no-repeat center center;
        background-size: cover;
        height: 150vh;
        width: 50vw;
        position: absolute;
        z-index: 2;
    }

    .parallax-7 {
        background: url("../Images/Parallax/parallax-7.png") no-repeat center center;
        background-size: cover;
        height: 150vh;
        width: 50vw;
        position: absolute;
        z-index: 1;
    }

    .team-section-content {
        position: absolute;
        text-align: right;
        height: 150vh;
        width: 100vw;
        z-index: 100;
     
    }

    .duc-face {
        position: relative;
    
        margin-left: 30vw;
    }

    .allan-face {
        position: relative;
        margin-right: 20vw;
        width: 80vw;
    }

    #huy-face {
        position: relative;
        display: inline;
    }
    .history-section {
        height: 150vh;
    }
    .meet-our-team{
        font-size: 3em !important;
    }
    #scene2 {
        margin: 0 0;
        padding: 0 0;
    }

    .back {
        height: 150vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        position: relative;
    }

        .back div {
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
        }

    .history-section-background {
        background: url(../Images/Parallax/background-history.jpg) no-repeat 50% 100%;
        bottom: 96px;
        background-size: cover;
        height: 150vh;
        width: 110vw;
    }

    .black {
        position: relative;
        top: 95%;
        background-position: center bottom;
        background-color: black;
        height: 40vh;
        width: 300vw;
        left: -150vw;
    }

    .wave {
        background: transparent repeat-x;
        position: absolute;
        width: 300vw;
        left: -150vw;
    }

        .wave::after {
            background-color: black;
            position: absolute;
            display: block;
            height: 500px;
            width: 100%;
            top: 100%;
            left: 0;
        }

        .wave.plain {
            background-image: url(../Images/Parallax/wave-plain.png);
        }

        .wave.paint {
            background-image: url(../Images/Parallax/wave-paint.png);
        }

        .wave.depth-30 {
            -webkit-animation: wave 7.11111s 0.1s infinite linear;
            -moz-animation: wave 7.11111s 0.1s infinite linear;
            animation: wave 7.11111s 0.1s infinite linear;
            bottom: 100px;
            margin: 0px 0px;
            background-position: center bottom;
            background-size: auto 101%;
            height: 48px;
        }

            .wave.depth-30::after {
                height: 112px;
            }

        .wave.depth-40 {
            -webkit-animation: wave 6.66667s 0.1s infinite linear;
            -moz-animation: wave 6.66667s 0.1s infinite linear;
            animation: wave 6.66667s 0.1s infinite linear;
            bottom: 80px;
            margin: 0px 0px;
            background-position: center bottom;
            background-size: auto 101%;
            height: 64px;
        }

            .wave.depth-40:after {
                height: 96px;
            }

        .wave.depth-50 {
            -webkit-animation: wave 6.22222s 0.1s infinite linear;
            -moz-animation: wave 6.22222s 0.1s infinite linear;
            animation: wave 6.22222s 0.1s infinite linear;
            bottom: 60px;
            margin: 0px 0px;
            background-position: center bottom;
            background-size: auto 101%;
            height: 80px;
        }

            .wave.depth-50:after {
                height: 80px;
            }

        .wave.depth-60 {
            -webkit-animation: wave 5.77778s 0.1s infinite linear;
            -moz-animation: wave 5.77778s 0.1s infinite linear;
            animation: wave 5.77778s 0.1s infinite linear;
            bottom: 40px;
            margin: 0px 0px;
            background-position: center bottom;
            background-size: auto 101%;
            height: 96px;
        }

            .wave.depth-60:after {
                height: 64px;
            }

        .wave.depth-80 {
            -webkit-animation: wave 4.88889s 0.1s infinite linear;
            -moz-animation: wave 4.88889s 0.1s infinite linear;
            animation: wave 4.88889s 0.1s infinite linear;
            bottom: 0px;
            margin: 0px 0px;
            background-position: center bottom;
            background-size: auto 101%;
            height: 128px;
        }

            .wave.depth-80:after {
                height: 32px;
            }


        .wave.depth-100 {
            -webkit-animation: wave 4s 0.1s infinite linear;
            -moz-animation: wave 4s 0.1s infinite linear;
            animation: wave 4s 0.1s infinite linear;
            bottom: -40px;
            margin: 0px 0px;
            background-position: center bottom;
            background-size: auto 101%;
            height: 160px;
        }

            .wave.depth-100:after {
                height: 0px;
            }

    #history-section-content {
        position: absolute;
        z-index: 50;
        background: url(../Images/Parallax/panel.png) 50% 50% no-repeat;
        background-position: center center;
        background-size: 90% 55%;
        
        vertical-align: middle;
    }

    .history-section-title {
 
        padding-top: 45vh;
    }

    .history-section-info {
        position: relative;
        line-height: 4vh;
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .explore-button {
        padding-top: 3vh;
        margin-left: 38vw;
        margin-right: 38vw;
    }

}
.is-compact .portfolio-logo {
    height: 50px; width: 50px; margin-top: 7px;
}

.portfolio-navigation-row {
    background-color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    height: 45px;
}

    .portfolio-navigation-row .mdl-navigation {
        text-align: center;
        max-width: 900px;
        width: 100%;
    }

    .portfolio-navigation-row .mdl-navigation__link {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        line-height: 42px;
    }

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

    .portfolio-navigation-row .is-active:after {
        content: "";
        width: 70%;
        height: 2px;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgb(255,64,129);
        left: 15%;
    }

.portfolio-card .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
    background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
    background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
    background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

img.article-image {
    width: 100%;
    height: auto;
}

.portfolio-max-width {
    max-width: 900px;
    margin: auto;
}

.portfolio-copy {
    max-width: 700px;
}

.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.padding-top {
    padding: 10px 0 0;
}

.portfolio-share-btn {
    position: relative;
    float: right;
    top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
    width: 100%;
}

.portfolio-contact form {
    max-width: 550px;
    margin: auto;
}
body {
    margin: 0;
}
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    z-index: 100;
}
/* Disable ugly boxes around images in IE10 */
a img {
    border: 0px;
}

::-moz-selection {
    background-color: #6ab344;
    color: #fff;
}

::selection {
    background-color: #6ab344;
    color: #fff;
}

.cryptfolio-search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
}

.cryptfolio-header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
}

.mdl-textfield--expandable {
    width: auto;
}

.cryptfolio-fab {
    position: absolute;
    right: 20%;
    bottom: -26px;
    z-index: 3;
    background: #64ffda !important;
    color: black !important;
}


.cryptfolio-logo-image {
    height: 28px;
    width: 140px;
}


.cryptfolio-header {
    overflow: visible;
    background-color: white;
}

    .cryptfolio-header .material-icons {
        color: #CBDBD7;
    }

    .cryptfolio-header .mdl-layout__drawer-button {
        color: #CBDBD7;
    }

    .cryptfolio-header .mdl-navigation__link {
        color: #3d3d3d;
        font-weight: 700;
        font-size: 14px;
    }

.cryptfolio-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.cryptfolio-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
}

.cryptfolio-search-box.is-focused + .cryptfolio-navigation-container {
    opacity: 0;
    width: 100px;
}


.cryptfolio-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
}

    .cryptfolio-navigation .mdl-navigation__link:hover {
        border-bottom: 4px solid #F5E9DC;
    }

.cryptfolio-search-box {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
}

.cryptfolio-more-button {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}


.cryptfolio-drawer {
    border-right: none;
}

.cryptfolio-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
}

.cryptfolio-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
}

.cryptfolio-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
}

.cryptfolio-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
}

.cryptfolio-drawer .cryptfolio-logo-image {
    position: absolute;
    bottom: 16px;
}

.cryptfolio-be-together-section {
    position: relative;
    height: 800px;
    width: auto;
    background-color: #f3f3f3;
    background: url('images/slide01.jpg') center 30% no-repeat;
    background-size: cover;
}

.logo-font {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: #767777;
    font-weight: 500;
}

.cryptfolio-slogan {
    font-size: 60px;
    padding-top: 160px;
}

.cryptfolio-sub-slogan {
    font-size: 21px;
    padding-top: 24px;
}

.cryptfolio-create-character {
    font-size: 21px;
    padding-top: 400px;
}

    .cryptfolio-create-character a {
        text-decoration: none;
        color: #767777;
        font-weight: 300;
    }

.cryptfolio-screen-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
}

.cryptfolio-screens {
    text-align: right;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.cryptfolio-screen {
    text-align: center;
}

    .cryptfolio-screen .cryptfolio-link {
        margin-top: 16px;
        display: block;
        z-index: 2;
    }

.cryptfolio-image-link {
    text-decoration: none;
}

.cryptfolio-wear {
    display: inline-block;
    width: 160px;
    margin-right: 32px;
}

    .cryptfolio-wear .cryptfolio-screen-image {
        width: 40%;
        z-index: 1;
    }


.cryptfolio-phone {
    display: inline-block;
    width: 64px;
    margin-right: 48px;
}

    .cryptfolio-phone .cryptfolio-screen-image {
        width: 100%;
        z-index: 1;
    }


.cryptfolio-tablet {
    display: inline-block;
    width: 110px;
    margin-right: 64px;
}

    .cryptfolio-tablet .cryptfolio-screen-image {
        width: 100%;
        z-index: 1;
    }

    .cryptfolio-tablet .cryptfolio-link {
        display: block;
        z-index: 2;
    }


.cryptfolio-tv {
    display: inline-block;
    width: 300px;
    margin-right: 80px;
}

    .cryptfolio-tv .cryptfolio-screen-image {
        width: 100%;
        z-index: 1;
    }


.cryptfolio-auto {
    display: inline-block;
    width: 300px;
    overflow: hidden;
}

    .cryptfolio-auto .cryptfolio-screen-image {
        display: block;
        height: 300px;
        z-index: 1;
    }


.cryptfolio-wear-section {
    position: relative;
    background: url('images/wear.png') center top no-repeat;
    background-size: cover;
    height: 800px;
}

.cryptfolio-wear-band {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #37474f;
}

.cryptfolio-wear-band-text {
    max-width: 800px;
    margin-left: 25%;
    padding: 24px;
    text-align: left;
    color: white;
}

    .cryptfolio-wear-band-text p {
        padding-top: 8px;
    }

.cryptfolio-link {
    text-decoration: none;
    color: #17AEC2 !important;
}

    .cryptfolio-link:hover {
        color: #030B26 !important;
    }

    .cryptfolio-link .material-icons {
        position: relative;
        top: -1px;
        vertical-align: middle;
    }

.cryptfolio-alt-link {
    text-decoration: none;
    color: #64ffda !important;
    font-size: 16px;
}

    .cryptfolio-alt-link:hover {
        color: #00bfa5 !important;
    }

    .cryptfolio-alt-link .material-icons {
        position: relative;
        top: 6px;
    }

.cryptfolio-customized-section {
    text-align: center;
}

.cryptfolio-customized-section-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 16px 0 16px;
}

    .cryptfolio-customized-section-text p {
        padding-top: 16px;
    }

.cryptfolio-customized-section-image {
    background: url('images/devices.jpg') center top no-repeat;
    background-size: cover;
    height: 400px;
}

.cryptfolio-more-section {
    padding: 80px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

    .cryptfolio-more-section .cryptfolio-section-title {
        margin-left: 12px;
        padding-bottom: 24px;
    }

.cryptfolio-card-container {
}

    .cryptfolio-card-container .mdl-card__media {
        overflow: hidden;
        background: transparent;
    }

        .cryptfolio-card-container .mdl-card__media img {
            width: 100%;
        }

    .cryptfolio-card-container .mdl-card__title {
        background: transparent;
        height: auto;
    }

    .cryptfolio-card-container .mdl-card__title-text {
        color: black;
        height: auto;
    }

    .cryptfolio-card-container .mdl-card__supporting-text {
        height: auto;
        color: black;
        padding-bottom: 56px;
    }

    .cryptfolio-card-container .mdl-card__actions {
        position: absolute;
        bottom: 0;
    }

        .cryptfolio-card-container .mdl-card__actions a {
            border-top: none;
            font-size: 16px;
        }

.cryptfolio-footer {
    background-color: #fafafa;
    position: relative;
    min-width:40vh;
}

    .cryptfolio-footer a:hover {
        color: #8bc34a;
    }

    .cryptfolio-footer .mdl-mega-footer--top-section::after {
        border-bottom: none;
    }

    .cryptfolio-footer .mdl-mega-footer--middle-section::after {
        border-bottom: none;
    }

    .cryptfolio-footer .mdl-mega-footer--bottom-section {
        position: relative;
    }

        .cryptfolio-footer .mdl-mega-footer--bottom-section a {
            margin-right: 2em;
        }

    .cryptfolio-footer .mdl-mega-footer--right-section a .material-icons {
        position: relative;
        top: 6px;
    }


.cryptfolio-link-menu:hover {
    cursor: pointer;
}


.orbit {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 200px;
    border: 4px solid rgba(49, 125, 247,0.5);
    border-radius: 50%;
    background-image: radial-gradient( rgba(188, 214, 255, 0.4), rgba(142, 186, 255, 0.4));
}

.rot45 {
    z-index: 6;
    transform: rotate(45deg);
}

.rot90 {
    z-index: 4;
    transform: rotate(90deg);
}

.rot135 {
    z-index: 6;
    transform: rotate(135deg);
}

.prot {
    position: relative;
    width: 10px;
    height: 10px;
    margin: 95px 45px;
    border-radius: 50%;
    background-color: rgb(37, 81, 150);
    background-color: rgba(37, 81, 150, 0.7);
    animation: pulse 5s infinite;
}

.elec {
    position: absolute;
    top: 96px;
    left: -6px;
}

    .elec:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgba(0, 57, 147, .7);
    }

.sp1 {
    animation: lr 10s infinite;
}

    .sp1:after {
        animation: ud 10s infinite;
    }

.sp2 {
    animation: lr 6s infinite;
}

    .sp2:after {
        animation: ud 6s infinite;
    }

.sp3 {
    animation: lr 16s infinite;
}

    .sp3:after {
        animation: ud 16s infinite;
    }

.sp4 {
    animation: lr 5s infinite;
}

    .sp4:after {
        animation: ud 5s infinite;
    }


@keyframes pulse {
    0%, 100% {
        background-color: rgba(37, 81, 150, 0.7);
    }

    50% {
        background-color: rgba(58, 133, 252, 0.8);
        transform: scale(2);
    }
}

@keyframes lr {
    0% {
        animation-timing-function: ease-in;
        transform: translateX(0px);
    }

    25% {
        animation-timing-function: ease-out;
        transform: translateX(51px);
    }

    50% {
        animation-timing-function: ease-in;
        transform: translateX(104px);
    }

    75% {
        animation-timing-function: ease-out;
        transform: translateX(51px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes ud {
    0% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    25% {
        animation-timing-function: ease-in;
        transform: translateY(-102px);
    }

    50% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    75% {
        animation-timing-function: ease-in;
        transform: translateY(102px);
    }

    100% {
        transform: translateY(0px);
    }
}
